.header header img{
	vertical-align: middle;
}

.swiper-container{
	padding-top:14px;
	text-align: center
}

.pub_header{
	text-align: center;
}
.swiper-slide img{
	width:40%;
	height:160px;
}

pub_nav dl {
  float: left;
  width: 25%;
  margin: 10px auto;
  height: 100%;
}