<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>添加收货地址</title>		
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
    	<link rel="stylesheet" type="text/css" href="../../css/main.css">	
	</head>
	<body>
<div class="home shopp_editAdd">
	<div class="pub_header">
		<header>
			<ul>
				<li class="back">
					<a href="javascript:history.go(-1);">
						<img src="../../images/back.png" alt="">
					</a>
				</li>
				<li>添加收货地址</li>
				<li class="info">
					<a href="javascript:void(0);">
						<img src="../../images/info.png" alt="">
					</a>
				</li>
			</ul>
		</header>
	</div>	
	<!-- 导航 -->
	<div class="pub_nav cf">
		<dl>
			<a href="ware.html">
				<dt><img src="../../images/type.png"></dt>
				<dd>分类查询</dd>
			</a>
		</dl>
		<dl>
			<a href="../Shopping Cart/Shopping_cart.html">
				<dt><img src="../../images/car.png"></dt>
				<dd>购物车</dd>
			</a>
		</dl>
		<dl>
			<a href="../Shopping Cart/Shopping_order.html">
				<dt><img src="../../images/myorder.png"></dt>
				<dd>我的订单</dd>
			</a>
		</dl>
		<dl>
			<a href="../personalCenter/personal_center.html">
				<dt><img src="../../images/home.png"></dt>
				<dd>个人中心</dd>
			</a>
		</dl>
	</div>
	<!-- 内容 -->
	<div class="content cf">
			<div class="border">
			</div>
			<form name="address" class="editaddress">
				<div class="list cf">
					<label class="fl">收件人：</label>
					<input type="text" value="张三丰" class="fl">
				</div>
				<div class="list cf">
					<label class="fl">联系方式：</label>
					<input type="text" value="134****2468" class="fl">
				</div>
				<div class="list cf">
					<label class="fl">所在地区：</label>
					<input type="text"  class="fl" readonly id="area">
						<div class="chosen-type">
							<select name="city" datatype="*" nullmsg="请选择城市">
								<option>北京市</option>
								<option>张家口市</option>
								<option>秦皇岛市</option>
								<option>石家庄市</option>
							</select>
						</div>
						<div class="chosen-type">
							<select name="city" datatype="*" nullmsg="请选择城市">
								<option>朝阳区</option>
								<option>桥西区</option>
								<option>海港区</option>
								<option>某某区</option>
							</select>
						</div>
						<div class="chosen-type">
							<select name="city" datatype="*" nullmsg="请选择城市">
								<option>建国路</option>
								<option>史各庄</option>
								<option>苗庄村</option>
								<option>小辛庄</option>
							</select>
						</div>
						<div class="chosen-type">
							<select name="city" id="cityName3" datatype="*" nullmsg="请选择城市">
								<option>1111</option>
								<option>222</option>
								<option>333</option>
								<option>444</option>
							</select>
						</div>
					</div>
				
				<div class="list cf">
					<label class="fl">详细地址:</label>
					<input type="text" class="fl xxdz" value="传媒大学东大街1号京汇大厦甲座B楼1125室">
				</div>
				<div class="pro_info cf">
					<div class="ui-check">
                        <i class="check-ico"></i>
                        <input type="checkbox" class="cardType" id="platinum">
                        <label for="platinum" class="check-label">设为默认地址（注：每次下单时会使用该地址）</label>
                    </div>
				</div>
			</form>
	</div>

</div>
</body>
<script src="../../js/jquery-1.10.2.min.js"></script>
<script src="../../js/menu_list.js"></script>
<script>
        $(function(){
        			// $("#cityName3").hide();
               $("#area").val($("#cityName").val());
	            $("#platinum").click(function(){ 
	                if($(this).is(":checked")){
	                    $(this).siblings(".check-ico").addClass("checked-ico");
	                }else{
	                    $(this).siblings(".check-ico").removeClass("checked-ico");
	                } 
	            });
	            // $("#cityName").change(function(){	                
	            //     var cityName=$("#cityName").val();
	            //     var cityName1=$("#cityName1").val();
	            //     var cityName2=$("#cityName2").val();
	            //     var cityName3=$("#cityName3").val();
	            //     $("#area").val(cityName+cityeName1+cityeName2+cityeName3);
	            // });    
        })
</script>
</div>
</html>
