<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>首页</title>		
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
    	<link rel="stylesheet" type="text/css" href="../../css/main.css">	
    	<link rel="stylesheet" type="text/css" href="../../css/jquery.autocompleter.css">
    	<style>

    	</style>	
	</head>
	<body>
		<div class="home homeindex">
			<div class="pub_header cf">
				<header>
					<ul>
						<li class="back">	
						&nbsp; 				
						</li>
						<li><img src="../../images/logo.png"></li>
						<li class="info">
							<a href="login.html">
								登录
							</a>
						</li>
					</ul>
				</header>
			</div>
			<div class="ui-widget">
				<div class="search cf">
					<input type="text" placeholder="快来搜搜……" class="search_con" id="tags1">
				</div>     
    		</div>
			<!-- 轮播图 -->
		
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="../../images/slider.png"></div>
					<div class="swiper-slide"><img src="../../images/slider.png"></div>
					<div class="swiper-slide"><img src="../../images/slider.png"></div>
					<div class="swiper-slide"><img src="../../images/slider.png"></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<!-- 导航 -->
			<div class="pub_nav cf">
				<dl>
					<a href="ware.html">
						<dt><img src="../../images/type.png"></dt>
						<dd>分类查询</dd>
					</a>
				</dl>
				<dl>
					<a href="../Shopping Cart/Shopping_cart.html">
						<dt><img src="../../images/car.png"></dt>
						<dd>购物车</dd>
					</a>
				</dl>
				<dl>
					<a href="../Shopping Cart/Shopping_order.html">
						<dt><img src="../../images/myorder.png"></dt>
						<dd>我的订单</dd>
					</a>
				</dl>
				<dl>
					<a href="../personalCenter/personal_center.html">
						<dt><img src="../../images/personcenter.png"></dt>
						<dd>个人中心</dd>
					</a>
				</dl>
			</div>
			<!-- 公告 -->
			<div class="notice">
				<p>公告:</p>
				<span>2016年五一福利金现已发放！</span>
			</div>
			<!-- 内容 -->
			<div class="content cf">
				<div class="item1 cf">
					<div class="title">
						<span></span>
						<h3>精品推荐</h3>
						<span></span>
					</div>
					<div class="list">
						<ul>
							<li class="dl_mg dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mg dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
						</ul>
					</div>			
				</div>
				<div class="item1 cf">
					<div class="title">
						<span></span>
						<h3>超值单品</h3>
						<span></span>
					</div>
					<div class="list">
						<ul>
							<li class="dl_mg dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mg dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
						</ul>
					</div>			
				</div>
				<div class="item1 cf">
					<div class="title">
						<span></span>
						<h3>个人喜欢</h3>
						<span></span>
					</div>
					<div class="list">
						<ul>
							<li class="dl_mg dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mg dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
							<li class="dl_mb">
								<img src="../../images/iphone.png" alt="">
								<a href="productDetails.html">
									<p>
										商品描述XXXXXXXXXXXXX XXXXXXXXX…
									</p>
									<div class="num">
										<em>108</em><span>积分</span>
									</div>
								</a>
							</li>
						</ul>
					</div>			
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/jquery-1.10.2.min.js"></script>
	<script src="../../js/jquery.autocompleter.min.js"></script>
	<script src="../../js/swiper.min.js"></script>
	<script src="../../js/menu_list.js"></script>
	<script src="../../js/touch-0.2.14.min.js"></script>
	<script>
		var swiper = new Swiper('.swiper-container',{
				pagination: '.swiper-pagination',
			    paginationClickable: true,
			    paginationBulletRender: function (index, className) {
			      return '<span class="' + className + '">' + (index + 1) + '</span>';
			  	}
			});
		$(function(){
			$(".search_con").focus(function(){
				$(this).attr("value"," ");
			});
		})
		 var data = [{ 'value': '0', 'label': 'one' },{ 'value': '1', 'label': 'two' },{ 'value': '2', 'label': 'three' }];
    $(function () {$('#tags1').autocompleter({ source: data });});

	</script>
</html>
