<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
    <title>绑定银行卡</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script src="../../js/jquery-1.10.2.min.js"></script>
    <script src="../../js/menu_list.js"></script>
    <script src="../../js/Validform_v5.3.2.js"></script>
</head>
<body>
    <div class="bind_card">
    <!-- 公共头部 -->
        <div class="pub_header">
            <header>
                <ul>
                    <li class="back">
                        <a href="javascript:history.go(-1);">
                            <img src="../../images/back.png" alt="">
                        </a>
                    </li>
                    <li>绑定银行卡</li>
                    <li class="info">
                        <a href="javascript:void(0);">
                            <img src="../../images/info.png" alt="">
                        </a>
                    </li>
                </ul>
            </header>
        </div>
            <!-- 导航 -->
        <div class="pub_nav cf">
            <dl>
                <a href="ware.html">
                    <dt><img src="../../images/type.png"></dt>
                    <dd>分类查询</dd>
                </a>
            </dl>
            <dl>
                <a href="../Shopping Cart/Shopping_cart.html">
                    <dt><img src="../../images/car.png"></dt>
                    <dd>购物车</dd>
                </a>
            </dl>
            <dl>
                <a href="../Shopping Cart/Shopping_order.html">
                    <dt><img src="../../images/myorder.png"></dt>
                    <dd>我的订单</dd>
                </a>
            </dl>
            <dl>
                <a href="personal_center.html">
                    <dt><img src="../../images/home.png"></dt>
                    <dd>个人中心</dd>
                </a>
            </dl>
        </div>
        <form action="" class="msgform">
            <div class="content">
                <div class="list first cf">
                    <div class="title fl">持卡人</div>
                    <input type="text" class="fl" placeholder="请输入持卡人姓名" datatype="s2-6" ajaxurl="" errormsg="姓名至少2个字符,最多6个字符！" nullmsg="请输入持卡人姓名！">
                </div>
                <div class="list cf">
                    <div class="title fl">卡 号</div>
                    <input type="text" class="fl" placeholder="请输入银行卡号" datatype="n" ajaxurl="" errormsg="卡号有误！" nullmsg="请输入银行卡号！">
                </div>
                <div class="list card-type cf">
                    <div class="title fl">卡类型</div>
                    <input type="text" class="fl" readonly id="cardType">
                    <div class="chosen-type">
                        <select id="bankName" datatype="*" nullmsg="请选择发卡银行！" name="province">
                            <option>招商银行</option>
                            <option>中国银行</option>
                            <option>建设银行</option>
                        </select>
                        <!-- <i class="arrow"></i> -->
                    </div>
                </div>
                <div class="space"></div>
                <div class="list cf">
                    <div class="title fl mt">手机号</div>
                    <input type="text" class="fl mt" datatype="m" nullmsg="请输入您的手机号码！" errormsg="号码有误！">
                    <div class="fr" id="btn"><a href="javascript:;" class="btn-hollow btn-hollow-red">发送验证码</a></div>
                </div>
                <div class="point">（手机号码请填写开通银行卡时候的预留号码）</div>
                <div class="list cf last">
                    <div class="title fl mt">手机验证码</div>
                    <input type="text" class="fl mt" datatype="n" nullmsg="请输入手机验证码！" errormsg="验证码有误！">
                </div>
                <div class="point">
                    <div class="ui-check">
                        <i class="check-ico"></i>
                        <input type="checkbox" class="cardType" id="platinum">
                        <label for="platinum" class="check-label">同意</label>
                        <a href="javascript:;">《协议》</a>
                    </div>
                </div>
                <input class="btn" value="确 定" type="button" id="btn_sub" />
            </div>
        </form>
    </div>
    <script>
        $(function(){
            $("#cardType").val($("#bankName").val());
            $("#platinum").click(function(){ 
                if($(this).is(":checked")){
                    $(this).siblings(".check-ico").addClass("checked-ico");
                }else{
                    $(this).siblings(".check-ico").removeClass("checked-ico");
                } 
            });

            $("#bankName").change(function(){
                $("#cardType").val($("#bankName").val());
            });


            // 表单
            $(".msgform").Validform({
                btnSubmit:"#btn_sub", 
                tiptype:1, 
                datatype:{
                },
                usePlugin:{
                    swfupload:{},
                    datepicker:{},
                    passwordstrength:{},
                    jqtransform:{
                        selector:"select,input"
                    }
                },
                beforeCheck:function(curform){  
                },
                beforeSubmit:function(curform){  
                },
                callback:function(data){
                }
            });
        })
    </script>
</body>
</html>