<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
    <title>结果详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <script src="../../js/jquery-1.10.2.min.js"></script>
    <script src="../../js/menu_list.js"></script>
</head>
<body>
    <div class="modification_successful">
    <!-- 公共头部 -->
        <div class="pub_header">
            <header>
                <ul>
                    <li class="back">
                        <a href="javascript:history.go(-1);">
                            <img src="../../images/back.png" alt="">
                        </a>
                    </li>
                    <li>结果详情</li>
                    <li class="info">
                        <a href="javascript:void(0);">
                            <img src="../../images/info.png" alt="">
                        </a>
                    </li>
                </ul>
            </header>
        </div>
            <!-- 导航 -->
        <div class="pub_nav cf">
            <dl>
                <a href="ware.html">
                    <dt><img src="../../images/type.png"></dt>
                    <dd>分类查询</dd>
                </a>
            </dl>
            <dl>
                <a href="../Shopping Cart/Shopping_cart.html">
                    <dt><img src="../../images/car.png"></dt>
                    <dd>购物车</dd>
                </a>
            </dl>
            <dl>
                <a href="../Shopping Cart/Shopping_order.html">
                    <dt><img src="../../images/myorder.png"></dt>
                    <dd>我的订单</dd>
                </a>
            </dl>
            <dl>
                <a href="personal_center.html">
                    <dt><img src="../../images/home.png"></dt>
                    <dd>个人中心</dd>
                </a>
            </dl>
        </div>
        <div class="content">
            <p class="title">修改密码</p>
            <p class="point">新密码设置已成功！</p>
            <a href="javascript:;" class="btn">确 定</a>
        </div>
    </div>
</body>
</html>